$primary-color: #4b1c71;
$secondary-color: #7f4ca5;
$terciary-color: #b57edc;
$dark-color: #12181f;
$blank-color: #f0f3f1;

section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .form{
        width: 600px;
        height: 100%;
        background:$terciary-color;
        padding:10px;
        border-radius: 15px;
        margin: 10px 0px 10px 10px;
        .form-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 1% 5% 1% 5%;
            h1{
                text-align: center;
                font-size: 35px;
            }
            .input-data{
                display: flex;
                width: 100%;
                justify-content: space-between;
                margin: 10px 0px;
                label{
                    font-size: 20px;
                    font-weight: 700;
                    color: $blank-color;
                }
                input{
                    width: 320px;
                    height: 20px;
                    font-size: 12px;
                    transition-duration: .2s
                }
            }

            .button{
                margin-top: 20px;
                button{
                    font-family: 'Roboto', sans-serif;
                    font-size: 20px;
                    border: none;
                    color: $blank-color;
                    background-color: $secondary-color;
                    height: 40px;
                    border-radius: 10px;
                }
            }
        }
    }
}